<div class="container py-4">
    <h2>
        @gavant/ember-bootstrap-dropdown
    </h2>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu as |dd|>
                <dd.Trigger @htmlTag="button" class="btn btn-primary">
                    Default Alignment
                </dd.Trigger>
                <dd.Content class="dropdown-menu">
                    <DropdownAction @action={{this.test}} @dd={{dd}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @route="test" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                    <DropdownLink @route="test.two" @model="wow" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                    <DropdownLink @route="test.two.three" @models={{this.ids}} @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                </dd.Content>
            </DropdownMenu>

            <DropdownMenu @horizontalPosition="right" as |dd|>
                <dd.Trigger @htmlTag="button" class="btn btn-secondary">
                    Right Aligned
                </dd.Trigger>
                <dd.Content class="dropdown-menu">
                    <DropdownAction disabled={{true}} @dd={{dd}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @route="test" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                </dd.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @verticalPosition="above" as |dd|>
                <dd.Trigger @htmlTag="button" class="btn btn-outline-danger">
                    Top Aligned
                </dd.Trigger>
                <dd.Content class="dropdown-menu">
                    <DropdownAction @action={{this.test}} @dd={{dd}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @route="test" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                </dd.Content>
            </DropdownMenu>

            <DropdownMenu @verticalPosition="above" @horizontalPosition="right" as |dd|>
                <dd.Trigger @htmlTag="button" class="btn btn-outline-success">
                    Top Right Aligned
                </dd.Trigger>
                <dd.Content class="dropdown-menu">
                    <DropdownAction @action={{this.test}} @dd={{dd}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @route="test" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                </dd.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @renderInPlace={{true}} as |dd|>
                <dd.Trigger @htmlTag="button" class="btn btn-outline-warning">
                    Rendered In Place
                </dd.Trigger>
                <dd.Content class="dropdown-menu">
                    <DropdownAction @action={{this.test}} @dd={{dd}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @route="test" @dd={{dd}}>
                        Dropdown Link
                    </DropdownLink>
                </dd.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu as |dd|>
                <dd.Trigger class="border p-2">
                    div trigger
                </dd.Trigger>
                <dd.Content class="border p-3 bg-dark text-white dropdown-menu">
                    Some custom content. Maybe a nice dropdown form could live here?
                </dd.Content>
            </DropdownMenu>
        </div>
    </div>
</div>
{{outlet}}