<div class="container py-4">
    <h2>@gavant/ember-bootstrap-dropdown</h2>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu as |DD|>
                <DD.trigger @class="btn btn-primary">
                    Default Alignment
                </DD.trigger>
                <DD.content @class="dropdown-menu">
                    <DropdownAction @class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.content>
            </DropdownMenu>

            <DropdownMenu @horizontalPosition="right" as |DD|>
                <DD.trigger @class="btn btn-secondary">
                    Right Aligned
                </DD.trigger>
                <DD.content @class="dropdown-menu">
                    <DropdownAction @class="dropdown-action" @action={{this.test}} @dd={{DD}} disabled={{true}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @class="dropdown-link" @route="test" @dd={{DD}} disabled={{true}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @verticalPosition="above" as |DD|>
                <DD.trigger @class="btn btn-outline-danger">
                    Top Aligned
                </DD.trigger>
                <DD.content @class="dropdown-menu">
                    <DropdownAction @class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.content>
            </DropdownMenu>

            <DropdownMenu @verticalPosition="above" @horizontalPosition="right" as |DD|>
                <DD.trigger @class="btn btn-outline-success">
                    Top Right Aligned
                </DD.trigger>
                <DD.content @class="dropdown-menu">
                    <DropdownAction @class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @renderInPlace={{true}} as |DD|>
                <DD.trigger @class="btn btn-outline-warning">
                    Rendered In Place
                </DD.trigger>
                <DD.content @class="dropdown-menu">
                    <DropdownAction @class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink @class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu as |DD|>
                <DD.trigger class="border p-2" @tagName="div">
                    div trigger
                </DD.trigger>
                <DD.content @class="border p-3 bg-dark text-white dropdown-menu">
                    Some custom content. Maybe a nice dropdown form could live here?
                </DD.content>
            </DropdownMenu>
        </div>
    </div>
</div>
{{outlet}}