<div class="container py-4">
    <h2>@gavant/ember-bootstrap-dropdown</h2>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @renderInPlace={{true}} as |DD|>
                <DD.Trigger @htmlTag="button" class="btn btn-primary">
                    Default Alignment
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.Content>
            </DropdownMenu>

            <DropdownMenu @horizontalPosition="right" as |DD|>
                <DD.Trigger  @htmlTag="button" class="btn btn-secondary">
                    Right Aligned
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction class="dropdown-action" @action={{this.test}} @dd={{DD}} disabled={{true}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @verticalPosition="above" as |DD|>
                <DD.Trigger  @htmlTag="button" class="btn btn-outline-danger">
                    Top Aligned
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.Content>
            </DropdownMenu>

            <DropdownMenu @verticalPosition="above" @horizontalPosition="right" as |DD|>
                <DD.Trigger  @htmlTag="button" class="btn btn-outline-success">
                    Top Right Aligned
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu @renderInPlace={{true}} as |DD|>
                <DD.Trigger  @htmlTag="button" class="btn btn-outline-warning">
                    Rendered In Place
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction class="dropdown-action" @action={{this.test}} @dd={{DD}}>
                        Dropdown Action
                    </DropdownAction>
                    <DropdownLink class="dropdown-link" @route="test" @dd={{DD}}>
                        Dropdown Link
                    </DropdownLink>
                </DD.Content>
            </DropdownMenu>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <DropdownMenu as |DD|>
                <DD.Trigger class="border p-2">
                    div trigger
                </DD.Trigger>
                <DD.Content class="border p-3 bg-dark text-white dropdown-menu">
                    Some custom content. Maybe a nice dropdown form could live here?
                </DD.Content>
            </DropdownMenu>
        </div>
    </div>
</div>
{{outlet}}